.footer {
    padding-top: 20px;
    padding-bottom: 30px;

    @include lg {
        padding-top: 60px;
        padding-bottom: 50px;
    }

    &__container { 

        @include sm{
            display: grid;
            gap: 40px;
            grid-template-columns: 1fr max-content;
        }
        @include lg {
            gap: 72px;
        }

    }
    &__logo {
        max-width: 200px;
        margin-bottom: 32px;

        @include sm{
            margin-bottom: 0px;
        }

        @include lg {
            max-width: 360px;
        }
    }
    &__social-list {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 32px;

        @include sm {
            margin-bottom: 0;
        }
        @include lg {
            gap: 36px;
        }
    }
    &__social-link {
        width: 36px;
        display: block;
        transition: color 0.3s ease-in-out;
        
        @include lg {
            width: 50px;
        }
    }
    &__social-link_yt{
        &:hover {
            color: #cd201f;
        }
    }
    &__social-link_tg {
        &:hover {
            color: #0088cc;
        }
    }
    &__devs {
        margin-bottom: 52px;
        line-height: 1;

        @include sm {
            order: 2;
            margin-bottom: 0;
        }
        @include lg {
            font-size: 20px;
        }
    }
    &__dev {

        &:not(:last-child) {
            margin-bottom: 19px;
        }

        @include lg {
            margin-bottom: 16px;
        }
    }
    &__copyright {
        line-height: 1;
    }
}